
@font-face{
	font-family: 'Circular Bold';
	src:url('../../assets/fonts/Circular Std Bold.ttf');
}
@font-face{
	font-family: 'Circular Book';
	src:url('../../assets/fonts/Circular Std Book.ttf');
}
.stories{
	display: grid;
	grid-template-rows: 1fr 10fr;
	/*background: rgb(15,35,74);
    background: linear-gradient(133deg, rgba(15,35,74,1) 1%, rgba(5,5,79,1)18%, rgba(4,2,32,1) 55%);*/
    background-color:white;
	border-radius: 30px;
	margin:20px;

}
.topBar{
	grid-row: 1;
}