@font-face{
	font-family: 'Circular Bold';
	src:url('assets/fonts/Circular Std Bold.ttf');
}
@font-face{
	font-family: 'Circular Book';
	src:url('assets/fonts/Circular Std Book.ttf');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App{
  background-color: #07090F;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100vh;
  box-sizing: border-box;
  
}
.side{
  grid-column: 1/1;


}

.center{
  grid-column: 2/2;
}

@media(max-width: 640px){
  .App{
    background-color: #07090F;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    box-sizing: border-box;

  }

  
  .drawer-stories-list{
    list-style: none;
    
    padding:20px;
  }
  
}